.GameGrid-grid {
    margin: 16px auto;
    user-select: none;
}

.GameGrid-cell {
    display: inline-block;
    font-size: 7vmin;
    height: 12vmin;
    line-height: 12vmin;
    padding: 8px;
    width: 12vmin;
}

.GameGrid-cell.GameGrid-cell-failed {
    background: rgba(255, 0, 0, 0.3);
    color: #f00;
}

.GameGrid-grid-active {
    .GameGrid-cell.GameGrid-cell-value {
        cursor: pointer;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }
    }

    .GameGrid-cell.GameGrid-cell-solid {
        background: rgba(255, 255, 255, 0.5);
        cursor: pointer;

        &:hover {
            background: rgba(255, 255, 255, 0.75);
        }
    }
}

.GameGrid-status-header {
    font-size: 32px;
    text-transform: uppercase;
}

.GameGrid-status-text {
    list-style: none;
    padding: 0;
}