.GameGrid-grid {
    margin: 0 auto;
    user-select: none;
}

.GameGrid-cell {
    display: inline-block;
    font-size: 7vmin;
    height: 12vmin;
    line-height: 12vmin;
    padding: 8px;
    width: 12vmin;
}

.GameGrid-cell.GameGrid-cell-value {
    cursor: pointer;
}

.GameGrid-cell.GameGrid-cell-solid {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.GameGrid-cell.GameGrid-cell-failed {
    background: rgba(255, 0, 0, 0.3);
    color: #f00;
}

.GameGrid-cell.GameGrid-cell-value:hover {
    background: rgba(255, 255, 255, 0.1);
}

.GameGrid-cell.GameGrid-cell-solid:hover {
    background: rgba(255, 255, 255, 0.75);
}