.App {
    background-color: #282c34;
    color: white;
    text-align: center;
    min-height: 100vh;
}

.App-container {
    padding: 16px;
}

.App-link {
    color: #61dafb;
}

.App-grid {
    margin: 0 auto;
}

.App-cell {
    display: inline-block;
    font-size: 4vmin;
    height: 12vmin;
    line-height: 12vmin;
    padding: 8px;
    width: 12vmin;
}
